#supra {
  border-color: blue;
  width: 450px;
}

#supra:hover {
  width: 720px;
  border-radius: 15px;
  border-color: #64e764;
}
#n2 {
  border-color: orange;
  width: 450px;
}
#n2:hover {
  width: 720px;
  border-radius: 15px;
  border-color: #64e764;
}
.headings {
  font-style: italic;
}
.prices {
  font-style: italic;
}
a:visited {
  color: orange;
}
h1{
  font-family: arial black;
}
#submit-btm:hover {
  background-color: orange;
  color:white;
}
input:focus {
  background-color:#64e764;
}
